.movie-item {
  width: 260px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.movie-item:hover {
  background-color: #ffffff;
  box-shadow: 0 0px 8px rgba(0,0,0,0.1);
}


.movie-item > img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.movie-item p.movie-title {
  font-size: 16px;
  font-weight: bold;
  color: #000639;
}

.movie-meta .date {
  font-weight: bold;
  color: #212B35;
}

.movie-meta .rate {
  font-weight: bold;
  color: #BF0711;
}
