.movie-item {
  width: 22%;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.card {
  display: inline-block;
  position: relative;
  background-color: white;
  vertical-align: top;
  text-align: left;
  margin:20px 0;
  box-shadow: 0 20px 20px rgba(0,0,0,.08);
	white-space: normal;
	-webkit-transition: all 250ms cubic-bezier(.02, .01, .47, 1); 
	-moz-transition: all 250ms cubic-bezier(.02, .01, .47, 1); 
	transition: all 250ms cubic-bezier(.02, .01, .47, 1);
  color: #4B4F56;
}

.card:hover {
    box-shadow: 0 40px 40px rgba(0,0,0,.16);
    transform: translate(0,-20px);
    transition-delay: 0s !important;
}


.movie-item > img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.movie-item p.movie-title {
  font-size: 16px;
  font-weight: bold;
  color: #000639;
}

.movie-meta .date {
  font-weight: bold;
  color: #212B35;
}

.movie-meta .rate {
  font-weight: bold;
  color: #BF0711;
}
